# Tema 9 - Ejercicio de K-Means

La base de datos Acidosis.txt contiene datos de 40 pacientes de un hospital con
6 medidas relativas a la acidez de diferentes fluidos corporales. En particular: </br>

-La columna 1 es el pH del líquido cefalorraquídeo (nanomoles/litro).</br>
-La columna 2 es el pH de la sangre (nanomoles/litro).</br>
-La columna 3 es la cantidad de HCO3 en el líquido cefalorraquídeo
(milimoles/litro).</br>
-La columna 4 contiene los valores de HCO3 en sangre (milimoles/litro).</br>
-La columna 5 es la presión del CO2 en el líquido cefalorraquídeo (mmHg).</br>
-La columna 4 es la presión del CO2 en sangre (mmHg).
</br>
</br>
Considerando este dataset, obtenga los coeficientes de silueta y obtenga el
valor de k previamente a la ejecución del algoritmo K-Means.</br>

Con los clústeres estimados, realice una representación gráfica de los mismos
usando fviz_cluster() e interprete los resultados.

Importamos dependencias

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn import datasets
from sklearn.cluster import KMeans

from kneed import KneeLocator
from sklearn.metrics import silhouette_score
from sklearn.preprocessing import StandardScaler

## Paso 1: importar datos

In [11]:
## import data
acidosis_raw = pd.read_csv(r"./Acidosis.txt", sep=' ', decimal=".")

In [12]:
acidosis_raw.head()

,Unnamed: 0,1,Unnamed: 2,Unnamed: 3,Unnamed: 4,2,Unnamed: 6,Unnamed: 7,Unnamed: 8,3,...,Unnamed: 12,4,Unnamed: 14,Unnamed: 15,Unnamed: 16,5,Unnamed: 18,Unnamed: 19,Unnamed: 20,6
0,39.8,38.0,22.2,23.2,38.8,36.5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,53.7,37.2,18.7,18.5,45.1,28.3,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,47.3,39.8,23.3,22.1,48.2,36.4,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,41.7,37.6,22.8,22.3,41.6,34.6,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,44.7,38.5,24.8,24.4,48.5,38.8,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Paso 2: explorar y procesar datos

In [18]:
#remove strange columns
acidosis_raw.drop(list(acidosis_raw)[6:22], axis=1, inplace=True)
acidosis_raw.head()

   Unnamed: 0     1  Unnamed: 2  Unnamed: 3  Unnamed: 4     2
0        39.8  38.0        22.2        23.2        38.8  36.5
1        53.7  37.2        18.7        18.5        45.1  28.3
2        47.3  39.8        23.3        22.1        48.2  36.4
3        41.7  37.6        22.8        22.3        41.6  34.6
4        44.7  38.5        24.8        24.4        48.5  38.8

In [25]:
#give columns a meaningful name
acidosis_raw = acidosis_raw.rename(columns={"Unnamed: 0": "ph_cefalo", "1": "ph_sangre", "Unnamed: 2": "hco3_cefalo", "Unnamed: 3": "hco3_sangre", "Unnamed: 4": "pres_co2_cefalo", "2": "pres_co2_sangre"})
acidosis_raw.head()

,ph_cefalo,ph_sangre,hco3_cefalo,hco3_sangre,pres_co2_cefalo,pres_co2_sangre
0,39.8,38.0,22.2,23.2,38.8,36.5
1,53.7,37.2,18.7,18.5,45.1,28.3
2,47.3,39.8,23.3,22.1,48.2,36.4
3,41.7,37.6,22.8,22.3,41.6,34.6
4,44.7,38.5,24.8,24.4,48.5,38.8